/*
	_content.css
*/


.drop-sub{
	position: relative;
	.drop-sub-box{
		opacity: 0;
		visibility: hidden;
		transform: translateY(12px);
		transition: 
							transform 0.3s ease-in-out,
							visibility 0.3s ease-in-out,
							opacity 0.3s ease-in-out
							;
		position: absolute;
		z-index: 1;
	}
	&:hover{
		.drop-sub-box{
			opacity: 1;
			transform: inherit;
			visibility: visible;
			transition: 
				transform 0.3s ease-in-out,
				visibility 0.3s ease-in-out,
				opacity 0.3s ease-in-out
		}
	}
}


.bg-shadow{
	pointer-events: none;
}

//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	@media (min-width: 992px) {
		figure{
			opacity: 0.3;
			transition: 0.2s;
			&:hover{
				opacity: 1;
			}
		}
	}	
}



.bnr-carousel{
	$slider-height: 600px;
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	h1, p, .btn-def, img{
		opacity: 0;
		transition: 1s ease;
	}
	h1{
		transform: translateY(-20px);
	}
	p, img{
		font-weight: 600;
		transform: translateY(20px);	
	}
	.btn-def{
		transform: scale(1.3);
	}
	.is-selected{
		h1, p, .btn-def, img{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	.container-arrows{
    z-index: 1;
    @extend .container;
    @extend .trans-h-center;
    position: absolute;
    bottom: 65px;
    height: 40px;
    width: auto;
    top: inherit;
    width: 110px;
    @media (max-width:991px) {
    	width: 90%;
    }

	}
	.carousel-content{
		position: relative;
		.align-i-center{
			height: $slider-height;
		}
	}

	//Навигация
	.flickity-page-dots{
		margin-bottom: 70px;
	}
	// Стрелки
	.flickity-prev-next-button{
		color: $color-1;
		top: inherit;
		bottom: 0;
	}
	//Кастомные стрелки
	.carousel-prev-next{
		width: ingerit;
		//((100/12)*8)+%
		left: 50%;
		transform: translateX(-50%);
		.bg-wrapper{
			bottom: 0;
			position: absolute;
			background-color: $color-2;
			height: 40px; 
		}
		.next, .prev{
			color: white;
			width: 50%;
			height: 100%;
			text-align: center;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			.fa{
				padding-top: 10px;
			}
			&:hover{
				background-color: $color-3;
				color: white;
			}
		}
	}

	@media(max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: calc(100vh - 70px);
			.img{
				height: calc(100vh - 70px);
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}
}



.short-posters-items{
	.img-content{
		padding: 10px;
		border: 1px solid rgba(white, 0.3);
	}
	.img{
		height: 420px;
		background-size: cover;
	}
	.desc-content{
		padding: 5px 15px;
		background-color: rgba($color-1, 0.2);
	}
	[class*="flexboxes"]{
		justify-content: left;
	}
	.wrapper{
		transition: 0.5s;
	}
	figure{
		&:hover{
			.wrapper{
				background-color: rgba($color-1, 0.4);
			}
		}
	}
	.flickity-page-dots{
		margin-bottom: 0;
	}

}
.posters-carousel{
	@media (min-width: 992px) {
		.flickity-page-dots{
			margin-bottom: 0;
		.dot:nth-last-child(-n+3){
			display: none;
		}
		}
		figure{
			width: 23%;
		}
		.text-content{
			padding-left: 15px;
		}
	}
}
.date-content{
	color: $color-1;
	big{
		font-size: 1.5em;
	}
}


